<% include ../partials/header %>

<div class="jumbotron" style="text-align:center;background:#00AAFF;height:320px;">
    <div class="container">
        <br>
        <h1 style="font-weight:700;font-size:90px;color:white;">Admin Dashbaord</h1>
        <h1 style="font-weight:500;font-size:45px;color:white;">User: <%= currentUser.username %></h1>
    </div>
</div>
<div class="container">
    <br>
    <a class="btn btn-lg btn-primary" style="color:white;">Create Code Editor</a>
    <br><br><hr>
    <h1 style="font-weight:500;font-size:40px;">Awaiting Educator Approvals:</h1>
    <br>
   <% approvals.forEach(function(approve){ %>
      <div class="row">
          <div class="col-3">
              <h1 style="font-weight:200;font-size:30px;"><%= approve.author.username %></h1>
              <br>
                <img style="height:200px;width:200px;" src="<%= approve.profileLink %>">
               
           </div>
           <div class="col-3">
               <h1 style="font-weight:200;font-size:30px;">Experience</h1>
               <h6><%= approve.experience %></h6>
           </div>
           <div class="col-3">
               <h1 style="font-weight:200;font-size:30px;">Description</h1>
               <h6><%= approve.description %></h6>
           </div>
       </div>
       <br><hr><br>
    <% }); %>
    
    
    <h1 style="font-weight:600;font-size:30px;">Awaiting Course Approvals</h1>
    <br>
    <% coursesApproved.forEach(function(courseApproval){ %>
       <div class="row">
          <div class="col-3">
              <h1 style="font-weight:200;font-size:30px;">Title</h1>
              <br>
                <h6><%= courseApproval.title %></h6>
               
           </div>
           <div class="col-3">
               <h1 style="font-weight:200;font-size:30px;">Description</h1>
               <h6><%= courseApproval.description %></h6>
           </div>
           <div class="col-3">
               <h1 style="font-weight:200;font-size:30px;">Image</h1>
               
               <img src="<%= courseApproval.imageLink %>" style="height:200px;width:300px;">
           </div>
       </div>
       <br><hr><br>
    <% }); %>
</div>