<% include ../partials/header %>

<style>
    .jumbotron{
        background: #8AC5FC;
        height:280px;
    }
    .explore-title{
   font-family: 'Raleway', sans-serif;
   font-weight:100;
}
.explore-sub-title{
  font-family: 'Raleway', sans-serif;
   font-weight:100;
}
</style>
<div class="jumbotron">
    <br><br>
    <h1 style="text-align:center;color:white;font-weight: 900;font-size:85px;">
       Own your curiosity
    </h1>
   <br>
   <br>
</div>

<div class="container">
    <h1 style="text-align:center;font-size:60px;font-weight:700;color:black;">Current Courses:</h1>   
<div style="padding:2.5px;"></div>
<div class="row">
   <div class="box col">
       <a href="/html"><img  src="https://i.imgur.com/nFahwqw.jpg" alt="HTML" height="235" width="350"></a>
   </div>
   <div class="box col">
       <a href="/css"><img src="https://i.imgur.com/Am7PUfR.jpg" alt="CSS" height="235" width="350"></a>
   </div>
   <div class="box col">
       <a href="/aviation"><img src="https://i.imgur.com/YyNss4e.jpg" alt="Aviation" height="235" width="350"></a>
   </div>  
</div>
<h2 style="text-align:center;font-size:25px;font-weight:300;color:#3E3E3E;">More are in the works! <a href="/plannedUpdates" target="_blank" style="text-decoration: none;">More info</a></h2>

  <!-- <h1 style="font-size:55px;"><span style="color:#00A6FF;"><strong>Educator</strong></span> Created Courses</h1>
    <hr>
    <div class="card-deck">    
        <% courses.forEach(function(course){ %>
        <div class="col-md-4">
          <div class="card">
            <a href="/courses/<%= course._id %>"><img class="card-img-top" src="<%= course.image %>" alt="Card image cap"></a>
            <div class="card-body">
              <a href="/courses/<%= course._id %>" style="color:black;text-decoration:none;font-size:22px;" class="card-title"><strong><%= course.name %></strong></a>
              <p class="card-text"><%= course.description.substring(0, 60) %><a href="/courses/<%= course._id %>" style="font-weight:900;">...View Course</a></p>
              <a href="/courses/<%= course._id %>" style="color:black;text-decoration:none;" class="button-11" role="button"> View Course </a>
              <br><br>
              <p class="card-text"><small class="text-muted">Created On <%= course.created.toDateString() %></small></p>
            </div>
          </div>
          </div>
        <% }); %>
    </div> -->

</div>

 
<br><br>
<% include ../partials/footer %> 
