<% include ../partials/header %>
<style>
    .thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    }

    .thumbnail img {
        width: 100%;
    }
</style>

<div class="jumbotron" style="height:440px;background:url(http://www.villreal.com/img146/clqnnwewvhowkplakckk.png);">
  <div class="container">
    <br><br><br><br>
  <h1 style="color:white;font-weight:900;font-size:85px;">Welcome to Wancademy!</h1>
  <h1 style="color:white;font-weight:100;font-size:29px;">To get started, click on what you are intrested in.</h1>
  <br><br>
   <div style="text-align:center;">
<br><br><br><br>

   </div>
  </div>
</div>
<div class="container">
  
     <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-success alert-dismissible fade in text-center" role="alert">
                <strong>Don't know what langauge to start with?</strong> Click <a href="/html">HERE</a> to learn HTML (The langauge of the web)!
            </div>
        </div>
     <hr><br><br><br>
      <div class="container" id="tourpackages-carousel">
      
      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://ictacademy.com.ng/wp-content/uploads/2017/10/14570828119302_illu-cours_html5-css3.png" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to HTML</strong></h4>
                <br>
               <a href="/html" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="/html" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://cms-assets.tutsplus.com/uploads/users/71/courses/1040/preview_image/css-1.png" alt="">
              <div class="caption">
               <h4 style="font-size:22px;"><strong>Introduction to CSS</strong></h4>
               <br>
                <a href="/css" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="/css" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://kulsuri.com/wp-content/uploads/2016/08/133.png" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to Javascript</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://www.userlogos.org/files/logos/2690_fernandosantucci/expressjs.logo_.png" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to Express.js</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>
        
      </div><!-- End row -->
      
      
      <!--Second Row-->
      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://www.mynotescode.com/wp-content/uploads/2016/10/CRUD.png" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Creating a CRUD Project</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://www.webreattivo.com/blog/wp-content/uploads/2015/05/NodeJS.png" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to Node.js</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://cdn.dribbble.com/users/135757/screenshots/1021755/flat_terminal_1x.png" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Using the Terminal</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>
        
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://cdn.dribbble.com/users/501563/screenshots/2197145/github_desktop_icon_preview_1x.png" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to Github</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>

        
        
      </div><!-- End row -->
      
      
      <h1 style="font-size:55px;color:black;"><strong><span style="color:#0083FF;"> Non-Programming</span> Courses</strong></h1>
      <hr><br>
      <!--Third Row-->
      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.pinimg.com/736x/0e/a9/0a/0ea90a1f6594af4844adb4e775b32de0--saxophone-notes-saxophone-music.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Basics of Saxophone Playing</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://cdn.dribbble.com/users/689802/screenshots/2285750/chemistry_4x3.gif" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Chemistry Basics</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://cdn.dribbble.com/users/5485/screenshots/2187027/programming_1x.png" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to Programming</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://cdn.dribbble.com/users/31818/screenshots/1891002/math.gif" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Math Puzzles</strong></h4>
                <br>
                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-play" aria-hidden="true"></i> Start </a>
               <a href="#" class="btn btn-success btn-xs" role="button"><i class="fa fa-book" aria-hidden="true"></i> Curriculum </a>
            </div>
          </div>
        </div>
        
      </div><!-- End row -->
      <br><br>
     <h1 style="font-size:55px;color:black;"><strong><span style="color:#0083FF;"> Community</span> Created Courses</strong></h1>
      <hr>
      <br>
      
      <% courses.forEach(function(course){ %>
        <div class="col-md-3">
            <a href="/courses/<%= course._id %>"><img style="height:170px;width:260px;" src="<%= course.image %>"></a>
            <a href="/courses/<%= course._id %>"><h2><%= course.name %></h2></a>
             <h6><%= course.description.substring(0,40); %>...</h6>
            <br><br><br>
        </div>
    <% }); %>
  
  
      
    </div><!-- End container -->
    
    
</div>
<% include ../partials/footer %>